$fuente-apple: 'Noto Sans KR', sans-serif;


// FONTS 

@font-face {
    font-family: "tittle-apple";
    src: url("../Assets/fonts/Moonrising.otf");
}
@font-face {
    font-family: "tittle--apple";
    src: url("../Assets/fonts/LEMONMILK-Regular.otf");
}
@font-face {
    font-family: "li-apple";
    src: url("../Assets/fonts/WorkSans-Regular.ttf");
}
@font-face {
    font-family: "roboto";
    src: url("../Assets/fonts/WorkSans-Light.ttf");
}

/* Style for all html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



// NAV RESPONSIVE , MENU HAMBURGUESA

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0px 20px;
    line-height: 60px;
    display: none;
}



/* NAV */

.nav-index {
    width: 100%;
    height: 733px;
    background: url("../assets/background/backgroundtotal2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-apple {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;
    
.tittle-apple {
    margin-left: 30px;
    background: linear-gradient(to right,#7ba6c7,#d7d2cc); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ul-apple {
    display: flex;
    margin-top: -4px;
    margin-left: 40px;
    padding: 8px;
}

.li-apple {
    margin-top: 17px;
    margin-left: 15px;
    margin-right: 15px;
    list-style-type: none;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: "li-apple"; 
    background: none;
    border: none;
    color: white;
}

a {
    position: relative;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
}

a:after {
    content: "";
    position: absolute;
    background-color: rgb(116, 116, 190);
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

a:hover:after {
    width: 100%;
}

}


// CONTACTO INDEX
.li-contact {
    position: relative;
    left: 61rem;
    bottom: 10px;
}

.li-buy {
    background: transparent;
    border: none;
    position: relative;
    top: 15px;
    left: 62rem;
}

// CONTACTO PRODUCTOS 

.contact-prod {
    position: relative;
    left: 62rem;
}

.li-carrito {
    background: transparent;
    border: none;
    position: relative;
    top: 15px;
    left: 63rem;
}

// // CARRITO LOCATION
// .li-carrito {
//     background: transparent;
//     border: none;
//     position: relative;
//     top: 15px;
//     left: 63rem;
// }

// // CARRITO CONTACT

// .li-buy-contact {
//     background: transparent;
//     border: none;
//     position: relative;
//     top: 15px;
//     left: 63rem;
// }


// PORTADA DEL NAV LOCATION

.nav-location {
    width: 100%;
    height: 450px;
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    opacity: 0.8;
}




/* HEADER - INDEX */


.content-apple {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .img-apple {
    margin-top: 41px;
    margin-right: 20px;
    }

    h1 {
    font-size: 80px;
    font-family: "Noto Sans KR", sans-serif;
    margin-left: 40px;
    color: white;
    line-height: 0.8em;
    }

    .span-cuotas {
    color: white;
    background: linear-gradient(to left, #ADA996, #DBDBDB, #EAEAEA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    }

    span {
    background: linear-gradient(to right, rgb(255, 176, 6), rgb(219, 46, 133), rgb(219, 46, 133), rgb(255, 176, 6), rgb(255, 176, 6), rgb(219, 46, 133));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    }
}

.btnimg {
    margin-top: 20px;
    padding: 7px 20px;
    font-size: 25px;
    text-align: center;

    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-family: "Noto Sans KR", sans-serif;
    }
    a:after {
        background-color: white;
        color: black;
    }
    
    }



/* MAIN - INDEX */

.img-secundaria-apple {
    width: 100%;
    height: 600px;
    background: url("../assets/background/backgroundtotal.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


.textosec_apple{ 
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 200px;
    margin-left: 45px;
}

    h2 {
    font-size: 50px;
    font-family: $fuente-apple;
    color: white;
}

    span {
    background: linear-gradient(to right,  rgb(255, 176, 6),rgb(219, 46, 133), rgb(219, 46, 133),rgb(255, 176, 6), rgb(255, 176, 6),rgb(219, 46, 133));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}
    .img-secundaria {
        position: relative;
        top: 90px;
}

}



// CARRITO INDEX

.li-buy-index {
    background: transparent;
    border: none;
    position: relative;
    top: -5px;
    left: 62rem;
}

// VIDEO MAC


.theme-darkap {
background-color: #000000;


.mac-h3 {
color: white;
position: absolute;
top: 94rem;
left: 59%;
font-family: $fuente-apple;
font-size: 100px;
}

.mac-h4 {
    background: linear-gradient(to right,  rgb(255, 176, 6),rgb(219, 46, 133), rgb(219, 46, 133),rgb(255, 176, 6), rgb(255, 176, 6),rgb(219, 46, 133));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(255, 255, 255, 0.778);
    position: absolute;
    top: 103rem;
    left: 54%;
    font-family: $fuente-apple;
    font-size: 35px;
}

.mac-h5 {
    width: 45%;
    color: white;
    position: absolute;
    top: 112rem;
    left: 49%;
    font-family: $fuente-apple;
    font-size: 30px;
}

}

/* FOOTER */

.footer-apple {
    margin-top: -6px;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(44, 55, 78), rgb(54, 57, 65));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;

.redsocial {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;                 
}

.redsocial img:hover {
    width: 55px;
    transition: 0.3s;
}

img {
    margin-left: 40px;
}

.copyright h5{
    font-size: 15px;
    font-family: "li-apple";
    letter-spacing: 1px;
    margin-top: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.contacto-apple {
    display: flex;
    
    
}

    img {
        margin-top: 5px;
        margin-right: 20px;
    }
}


/* PAGE PRODUCTS */

.background-product {
    width: 100%;
    height: 100vw;
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    background-attachment: fixed;
}

/* Portada Products */

.img-product {
    width: 100%;
    height: 450px;
    background: url("../Assets/background/page-products.png");
    background-size: cover;
}

/*CONTENT - MAIN PRODUCT */

.container-product{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    margin-top: 40px;
    margin-left: 160px;
    margin-right: 160px;
    grid-row-gap: 11px;
    
    .card {
        display: flex;
        flex-direction: column;
        width: 380px;
        background: url("../Assets/background/backgroundtotal2.png");
        background-attachment: fixed;
        font-family: "li-apple";
        text-align: start;
        color: white;
    }

    .content-h3 { 
        text-align: center;
        border-radius: 0.2rem;
        padding: 10px;
        margin-bottom: 15px;
        font-family: "li-apple";
        background: url("../Assets/background/backgroundtotal2.png");
        background-size: cover;
        font-weight: bolder;
        color: white;
        text-transform: uppercase;
        }

    .content-h4 {
        margin-left: 15px;
        font-size: 20px;
    }
    .content-price {
        margin-top: 9px;
        margin-left: 15px;
        font-size: 20px;
        
    }
    .content-text {
        margin-left: 15px;
        font-size: 15px ;
    }

    .comprar{
        border: none;
        color: white;
        background-color: black;
        padding: 5px;
        text-transform: uppercase;
    }
}


/* MODAL CONTAINER - PRODUCTS */

.modal-container {
    width: 80%;
    margin: 0 10%;
    border-radius: 0.5rem;
    max-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    color: white;
    position: fixed;
    top: 9vh;
    overflow: auto;
    z-index: 9;
    scrollbar-color: none;

    .modal-container::-webkit-scrollbar {
        display: none;
    }

    img {
        width: 150px;
        
    }

    .modal-header {
        
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        width: 100%;

        
    }
    .modal-header-tittle {
        justify-self: start;
        font-family: 'roboto';
        margin-left: 20px;
    }
    .modal-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: 'roboto';

        border: 1px solid rgb(149, 148, 148);
        
        
    }

    .modal-header-button {
    
    img {
        width: 60px;
        margin-top: 7px;
        margin-right: 20px;
        padding: 5px;
    }
    }

    .total-content {
        width: 40%;
        text-align: center;
        font-family: 'roboto';
        text-transform: uppercase;
        padding: 10px;
        margin: 10px;
        background: white;
        color: black;
        border-radius: 2rem;
    }
}


/*CONTADOR DE CANTIDAD */

.cantidad-carrito{
    background-color: rgb(254, 254, 255);
    color: rgb(0, 0, 0);
    border-radius: 100%;
    font-size: 12px;
    padding: 5px;
    top: 17px;
    right: -12px;
    position: absolute;
    display: none;
}


/*CARRITO */

.sumar,
.restar{
    cursor: pointer;
}

.footer-product {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 40px 40px 0px 40px;
}

/* Page Ubication */

/*iframe Productos*/

.portada-location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

.h4-location {
    display: flex;
    align-items: center;
    font-size: 60px;
    font-family: "tittle-apple";
    color: white;
    margin-left: 20px;
}

h4 {
    font-size: 70px;
    text-align: center;
}

span {
    background: linear-gradient(to right,  rgb(255, 176, 6),rgb(219, 46, 133), rgb(219, 46, 133),rgb(255, 176, 6), rgb(255, 176, 6),rgb(219, 46, 133));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}


}

.body-location {
    width: 100%;
    background: url("../Assets/background/backgroundtotal.png");
}

.contenedor-ubicación {
    display: flex;
    justify-content: center;
    align-items: center;
    

    .tamaño-ubi {
        width: 45%;
        margin: auto;
    }

    .border-ubi {
        margin: 18px 22px 25px 20px;
        padding: 10px;
        background-color: white;
        border-radius: 1em;
        color: black;
    }

    h2 {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        color: #000000;
        font-family: 'Assistant', sans-serif;
        border-bottom: 1px solid #000000;
        font-size: 27px;
        text-align: center;
    }

    ul {
        color: #000000;
        font-family: 'Assistant', sans-serif;
        font-size: 18px;
    }

    img {
        margin-top: -24px;
    }

}

.iframe-ubi {
    border-radius: 1em;
    margin: 15px 15px -15px -1px;
}

.footer-location {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 30px 40px 0px 35px;
}



//  PAGE CONTACT

.back-c {
    position: fixed;

    min-width: 100%;
    min-height: 100%;

    z-index: -1;

    
}


.h2-contact {
    font-size: 30px;
    font-family: 'tittle--apple';
    position: relative;
    top: 8rem;
    left: 5%;

    color: white;
    
}


// FORM CONTACT


.contenedor-form {
    width: 30%;
    background: url("../Assets/background/backgroundtotal2.png");
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    

    position: absolute;
    top: 7rem;
    right: 5rem;
    
    p {
        
        text-align: center;
        margin: 20px;
        font-size: 23px;
        font-family: 'roboto';
        
        
    }

    input {
        width: 100%;
        margin-top: 5px; 
    }

    textarea {
        width: 100%;
        padding: -10px 10px;
        align-items: center;
        margin-top: 10px;
    }

    button {
        width: 100%;
        position: relative;
        top: 2rem;
        padding: 5px;
        font-size: 20px;
        border: none;
        transition: 0.1s;
        
    }

    button:hover {
        background-color: #5e46b4;
        color: white;
    }

}


// FOOTER CONTACT

.footer-contact {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 0px 0px 0px 46px;
    position: absolute;
    bottom: 0;
    width: 95%;
}






// MEDIA QUERYS

@media only screen and (max-width: 576px) {

    body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    

    // PAGE INDEX

    // NAV BURGER INDEX ( HACER TODAS LAS PAGE) 

    .nav-toggle {
        display: block;
        position: relative;
        left: 18rem;
    }   

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        background-color: white;
    }

    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
        background-color: white;
    }

    // BACKGROUND NAV
    .nav-index {
        
        height: 380px;
    }

    .ul-apple {
        margin-left: 0px !important;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 0, 0);
        z-index: 9;
        position: fixed;
        top: 65px;
        right: 0;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .li-contact {
        display: none;
        position: fixed;
        top: 12.5rem;
        left: 14.7rem !important;

        z-index: 9;

        transition: left 0.3s;
        
    }

    .li-buy-index {
        display: none;
        position: fixed;
        top: 17rem;
        left: 17.2rem !important;

        z-index: 9;  
        
        
        transition: left 0.3s;
    }

    .nav-menu_visible {
        display: block;
        left: 0;
        
    }

    //IMG DEL NAV & FONTS ()

    .img-apple {
        img {
            width: 189px;
        margin-top: -18px;
        margin-left: 2.5rem;
    }

    }
    
    .font-app {
        
        h1{
            width: 80%;
            margin-top: 20px;
            font-size: 35px;
            margin-left: 2rem;
            
        }
        .span-cuotas {
            font-size: 20px;
        }
        .span-logo {
            font-size: 23px;
        }
        .btnimg {
            font-size: 13px;
            padding: 5px 15px;
            margin-left: -1rem;
        }
        
    }


    // CONTENIDO SECUNDARIO INDEX 

    .img-secundaria-apple {
        height: 300px;
        img {
            width: 300px;
            margin-top: -24rem;
        }
    }
    .textosec_apple {
        
        h2 {
            
            font-size: 24px;
            margin-bottom: -6.5rem;
        }
        span{
            font-size: 25px;
        }
        button {
            margin-bottom: -14rem;
            font-size: 13px;
            padding: 5px 15px;
        }
    }

    // VIDEO INDEX 
    .theme-darkap {
    height: 600px;
    
    video {
        position: absolute;
        top: 48rem;
        width: 100%;
    }

        .mac-h3 {
            font-size: 50px;
            top: 45rem;
            left: 34%;
        }
        .mac-h4{
            font-size: 25px;
            top: 48rem;
            left: 15%;
        }
    
        .mac-h5 {
            width: 90%;
            font-size: 20px;
            top: 70rem;
            left: 5%;
            

        }
    }
    

    // FOOTER ALL

    .footer-apple {
        flex-direction: column;
        padding-bottom: 0.5rem;
    }
    

    // PAGE PRODUCTOS

    
    .img-product {
        width: 100%;
        height: 270px;
        background: url("../Assets/background/page-product576.jpg");
        background-size: cover;
    }

    .container-product {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 1rem;

        margin-left: 0;
        margin-right: 0;
        
        justify-items: center;
        align-items: center;
        
        .card {
            width: 250px;
        }
    }

}