@charset "UTF-8";
@font-face {
  font-family: "tittle-apple";
  src: url("../Assets/fonts/Moonrising.otf"); }

@font-face {
  font-family: "tittle--apple";
  src: url("../Assets/fonts/LEMONMILK-Regular.otf"); }

@font-face {
  font-family: "li-apple";
  src: url("../Assets/fonts/WorkSans-Regular.ttf"); }

@font-face {
  font-family: "roboto";
  src: url("../Assets/fonts/WorkSans-Light.ttf"); }

/* Style for all html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0px 20px;
  line-height: 60px;
  display: none; }

/* NAV */
.nav-index {
  width: 100%;
  height: 733px;
  background: url("../assets/background/backgroundtotal2.png");
  background-repeat: no-repeat;
  background-size: cover; }

.nav-apple {
  display: flex;
  align-items: center;
  color: white;
  padding: 5px; }
  .nav-apple .tittle-apple {
    margin-left: 30px;
    background: linear-gradient(to right, #7ba6c7, #d7d2cc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .nav-apple .ul-apple {
    display: flex;
    margin-top: -4px;
    margin-left: 40px;
    padding: 8px; }
  .nav-apple .li-apple {
    margin-top: 17px;
    margin-left: 15px;
    margin-right: 15px;
    list-style-type: none;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: "li-apple";
    background: none;
    border: none;
    color: white; }
  .nav-apple a {
    position: relative;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px; }
  .nav-apple a:after {
    content: "";
    position: absolute;
    background-color: #7474be;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s; }
  .nav-apple a:hover:after {
    width: 100%; }

.li-contact {
  position: relative;
  left: 61rem;
  bottom: 10px; }

.li-buy {
  background: transparent;
  border: none;
  position: relative;
  top: -5px;
  left: 62rem; }

.nav-location {
  width: 100%;
  height: 450px;
  background: url("../Assets/background/backgroundtotal2.png");
  background-size: cover;
  opacity: 0.8; }

/* HEADER - INDEX */
.content-apple {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .content-apple .img-apple {
    margin-top: 41px;
    margin-right: 20px; }
  .content-apple h1 {
    font-size: 80px;
    font-family: "Noto Sans KR", sans-serif;
    margin-left: 40px;
    color: white;
    line-height: 0.8em; }
  .content-apple .span-cuotas {
    color: white;
    background: linear-gradient(to left, #ADA996, #DBDBDB, #EAEAEA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px; }
  .content-apple span {
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px; }

.btnimg {
  margin-top: 20px;
  padding: 7px 20px;
  font-size: 25px;
  text-align: center; }
  .btnimg a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif; }
  .btnimg a:after {
    background-color: white;
    color: black; }

/* MAIN - INDEX */
.img-secundaria-apple {
  width: 100%;
  height: 600px;
  background: url("../assets/background/backgroundtotal.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .img-secundaria-apple .textosec_apple {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 200px;
    margin-left: 45px; }
  .img-secundaria-apple h2 {
    font-size: 50px;
    font-family: "Noto Sans KR", sans-serif;
    color: white; }
  .img-secundaria-apple span {
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px; }
  .img-secundaria-apple .img-secundaria {
    position: relative;
    top: 90px; }

.theme-darkap {
  background-color: #000000; }
  .theme-darkap video {
    width: 100%; }
  .theme-darkap .mac-h3 {
    color: white;
    position: absolute;
    bottom: -100rem;
    left: 27%;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 100px; }
  .theme-darkap .mac-h4 {
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(255, 255, 255, 0.778);
    position: absolute;
    bottom: -107rem;
    left: 39%;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 45px;
    font-weight: 600; }
  .theme-darkap .mac-h5 {
    width: 45%;
    color: white;
    position: absolute;
    top: 112rem;
    left: 49%;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px; }

/* FOOTER */
.footer-apple {
  margin-top: -6px;
  background: linear-gradient(to right, black, #2c374e, #363941);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px; }
  .footer-apple .redsocial {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .footer-apple .redsocial img:hover {
    width: 55px;
    transition: 0.3s; }
  .footer-apple img {
    margin-left: 40px; }
  .footer-apple .copyright h5 {
    font-size: 15px;
    font-family: "li-apple";
    letter-spacing: 1px;
    margin-top: 13px;
    color: white;
    text-transform: uppercase; }
  .footer-apple .contacto-apple {
    display: flex; }
  .footer-apple img {
    margin-top: 5px;
    margin-right: 20px; }

/* PAGE PRODUCTS */
.background-product {
  width: 100%;
  height: 100vw;
  background: url("../Assets/background/backgroundtotal2.png");
  background-size: cover;
  background-attachment: fixed; }

/* Portada Products */
.img-product {
  width: 100%;
  height: 450px;
  background: url("../Assets/background/page-products.png");
  background-size: cover; }

/*CONTENT - MAIN PRODUCT */
.container-product {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  margin-top: 40px;
  margin-left: 160px;
  margin-right: 160px;
  grid-row-gap: 11px; }
  .container-product .card {
    display: flex;
    flex-direction: column;
    width: 380px;
    background: url("../Assets/background/backgroundtotal2.png");
    background-attachment: fixed;
    font-family: "li-apple";
    text-align: start;
    color: white; }
  .container-product .content-h3 {
    text-align: center;
    border-radius: 0.2rem;
    padding: 10px;
    margin-bottom: 15px;
    font-family: "li-apple";
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    font-weight: bolder;
    color: white;
    text-transform: uppercase; }
  .container-product .content-h4 {
    margin-left: 15px;
    font-size: 20px; }
  .container-product .content-price {
    margin-top: 9px;
    margin-left: 15px;
    font-size: 20px; }
  .container-product .content-text {
    margin-left: 15px;
    font-size: 15px; }
  .container-product .comprar {
    border: none;
    color: white;
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    padding: 5px;
    text-transform: uppercase;
    border: 0.2px solid rgba(255, 255, 255, 0.405); }

/* MODAL CONTAINER - PRODUCTS */
.modal-container {
  width: 80%;
  margin: 0 10%;
  border-radius: 0.5rem;
  max-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../Assets/background/backgroundtotal2.png");
  background-size: cover;
  color: white;
  position: fixed;
  top: 9vh;
  overflow: auto;
  z-index: 9;
  scrollbar-color: none; }
  .modal-container .modal-container::-webkit-scrollbar {
    display: none; }
  .modal-container img {
    width: 150px; }
  .modal-container .modal-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    width: 100%; }
  .modal-container .modal-header-tittle {
    justify-self: start;
    font-family: 'roboto';
    margin-left: 20px; }
  .modal-container .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'roboto';
    border: 1px solid #959494; }
  .modal-container .modal-header-button img {
    width: 60px;
    margin-top: 7px;
    margin-right: 20px;
    padding: 5px; }
  .modal-container .total-content {
    width: 40%;
    text-align: center;
    font-family: 'roboto';
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    background: white;
    color: black;
    border-radius: 2rem; }

/*CONTADOR DE CANTIDAD */
.cantidad-carrito {
  background-color: #fefeff;
  color: black;
  border-radius: 100%;
  font-size: 12px;
  padding: 5px;
  top: 17px;
  right: -12px;
  position: absolute;
  display: none; }

/*CARRITO */
.sumar,
.restar {
  cursor: pointer; }

.footer-product {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 40px 40px 0px 40px; }

/* Page Ubication */
/*iframe Productos*/
.portada-location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }
  .portada-location .h4-location {
    display: flex;
    align-items: center;
    font-size: 60px;
    font-family: "tittle-apple";
    color: white;
    margin-left: 20px; }
  .portada-location h4 {
    font-size: 70px;
    text-align: center; }
  .portada-location span {
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px; }

.body-location {
  width: 100%;
  background: url("../Assets/background/backgroundtotal.png"); }

.contenedor-ubicación {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contenedor-ubicación .tamaño-ubi {
    width: 45%;
    margin: auto; }
  .contenedor-ubicación .border-ubi {
    margin: 18px 22px 25px 20px;
    padding: 10px;
    background-color: white;
    border-radius: 1em;
    color: black; }
  .contenedor-ubicación h2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #000000;
    font-family: 'Assistant', sans-serif;
    border-bottom: 1px solid #000000;
    font-size: 27px;
    text-align: center; }
  .contenedor-ubicación ul {
    color: #000000;
    font-family: 'Assistant', sans-serif;
    font-size: 18px; }
  .contenedor-ubicación img {
    margin-top: -24px; }

.iframe-ubi {
  border-radius: 1em;
  margin: 15px 15px -15px -1px; }

.footer-location {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 30px 40px 0px 35px; }

.back-contact {
  background-color: black;
  overflow-x: hidden !important; }

.back-c {
  width: 80%;
  max-height: 950px;
  position: absolute;
  top: 1.5rem;
  left: -8rem;
  z-index: -1; }

.h2-contact {
  font-size: 30px;
  font-family: 'tittle--apple';
  position: relative;
  top: 4rem;
  left: 5%;
  color: white; }

.contenedor-form {
  width: 30%;
  background: url("../Assets/background/backgroundtotal2.png");
  background-size: auto;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: absolute;
  top: 7rem;
  right: 5rem; }
  .contenedor-form p {
    text-align: center;
    margin: 20px;
    font-size: 23px;
    font-family: 'roboto'; }
  .contenedor-form input {
    width: 100%;
    margin-top: 5px;
    padding: -15px; }
  .contenedor-form textarea {
    width: 100%;
    padding: -10px 10px;
    align-items: center;
    margin-top: 10px; }
  .contenedor-form button {
    width: 100%;
    position: relative;
    top: 2rem;
    padding: 5px;
    font-size: 20px;
    border: none;
    transition: 0.1s; }
  .contenedor-form button:hover {
    background-color: #5e46b4;
    color: white; }

.footer-contact {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 0px 0px 0px 46px;
  position: absolute;
  bottom: 0;
  width: 95%; }

@media only screen and (max-width: 1400px) {
  body {
    max-width: 100% !important;
    overflow-x: hidden !important; }
  .nav-index {
    height: 488px; }
  .li-contact {
    left: 32rem; }
  .li-buy {
    left: 34rem; }
  .img-apple img {
    width: 260px;
    margin-top: -31px;
    margin-left: 1rem; }
  .font-app h1 {
    width: 99%;
    margin-top: 70px;
    font-size: 70px;
    margin-left: 1rem; }
  .font-app .span-cuotas {
    font-size: 35px; }
  .font-app .span-logo {
    font-size: 40px; }
  .font-app .btnimg {
    font-size: 19px;
    padding: 5px 30px; }
  .img-secundaria-apple {
    height: 450px; }
    .img-secundaria-apple img {
      width: 470px;
      margin-top: -31rem; }
  .textosec_apple h2 {
    font-size: 50px;
    margin-bottom: -2rem; }
  .textosec_apple span {
    font-size: 37px; }
  .textosec_apple button {
    margin-bottom: -7rem;
    font-size: 17px;
    padding: 5px 25px; }
  .theme-darkap {
    height: 750px; }
    .theme-darkap video {
      position: absolute;
      top: 61.2rem; }
    .theme-darkap .mac-h3 {
      font-size: 85px;
      bottom: -56rem;
      left: 23%; }
    .theme-darkap .mac-h4 {
      font-size: 50px;
      bottom: -60.5rem;
      left: 34%; }
      .theme-darkap .mac-h4 img {
        width: 65px; }
  .footer-apple {
    flex-direction: column;
    padding-bottom: 0.5rem;
    margin-top: 17.8rem; }
  .img-product {
    width: 100%;
    height: 450px;
    background: url("../Assets/background/page-product1400.jpg");
    background-size: cover; }
  .container-product {
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 1rem;
    margin-left: 0;
    margin-right: 0;
    justify-items: center;
    align-items: center; }
    .container-product .card {
      width: 300px; }
  .footer-product {
    margin-top: 40px; }
  .nav-location {
    height: 320px; }
  .portada-location h4 {
    font-size: 50px; }
  .portada-location span {
    font-size: 38px; }
  .contenedor-ubicación {
    margin-left: -1rem; }
    .contenedor-ubicación .tamaño-ubi {
      width: 100%; }
    .contenedor-ubicación .border-ubi {
      margin: 18px 19px 24px 37px;
      padding: 5px; }
    .contenedor-ubicación img {
      width: 450px; }
    .contenedor-ubicación .iframe-ubi {
      width: 100%;
      height: 550px;
      margin-bottom: 20px; }
  .footer-location {
    margin-top: 20px; }
  .back-c {
    width: 700px;
    left: -5rem;
    top: 17rem; }
  .h2-contact {
    font-size: 20px;
    top: 8rem; }
  .contenedor-form {
    width: 400px;
    padding: 0px;
    top: 9rem;
    right: 2.4rem; }
    .contenedor-form p {
      font-size: 18px; }
    .contenedor-form input {
      width: 90%;
      padding: 0;
      background-color: transparent;
      color: white;
      border: none;
      border-bottom: 1px solid white;
      outline: none; }
    .contenedor-form textarea {
      width: 90%;
      padding: -5px; }
    .contenedor-form button {
      padding: 0px;
      top: 0rem; }
  .footer-contact {
    margin-top: 15rem !important;
    bottom: -1rem;
    left: -2.5rem; } }

@media only screen and (max-width: 1200px) {
  body {
    max-width: 100% !important;
    overflow-x: hidden !important; }
  .nav-index {
    height: 438px; }
  .li-contact {
    left: 21rem; }
  .li-buy {
    left: 22rem; }
  .img-apple img {
    width: 225px;
    margin-top: -28px;
    margin-left: 2rem; }
  .font-app h1 {
    width: 99%;
    margin-top: 70px;
    font-size: 63px;
    margin-left: 1rem; }
  .font-app .span-cuotas {
    font-size: 32px; }
  .font-app .span-logo {
    font-size: 39px; }
  .font-app .btnimg {
    font-size: 17px;
    padding: 5px 30px; }
  .img-secundaria-apple {
    height: 400px; }
    .img-secundaria-apple img {
      width: 440px;
      margin-top: -30rem; }
  .textosec_apple h2 {
    font-size: 41px;
    margin-bottom: -2rem; }
  .textosec_apple span {
    font-size: 35px; }
  .textosec_apple button {
    margin-bottom: -7rem;
    font-size: 15px;
    padding: 5px 25px; }
  .theme-darkap {
    height: 700px; }
    .theme-darkap video {
      position: absolute;
      top: 54rem; }
    .theme-darkap .mac-h3 {
      font-size: 73px;
      bottom: -43rem;
      left: 23%; }
    .theme-darkap .mac-h4 {
      font-size: 50px;
      bottom: -48rem;
      left: 31.4%; }
      .theme-darkap .mac-h4 img {
        width: 65px; }
  .footer-apple {
    flex-direction: column;
    padding-bottom: 0.5rem;
    margin-top: 11.2rem; }
  .img-product {
    width: 100%;
    height: 400px;
    background: url("../Assets/background/page-product1200.jpg");
    background-size: cover; }
  .container-product {
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 1rem;
    margin-left: 0;
    margin-right: 0;
    justify-items: center;
    align-items: center; }
    .container-product .card {
      width: 300px; }
  .footer-product {
    margin-top: 40px; }
  .nav-location {
    height: 320px; }
  .portada-location h4 {
    font-size: 50px; }
  .portada-location span {
    font-size: 38px; }
  .contenedor-ubicación {
    margin-left: -1rem; }
    .contenedor-ubicación .tamaño-ubi {
      width: 100%; }
    .contenedor-ubicación .border-ubi {
      margin: 18px 19px 24px 37px;
      padding: 5px; }
    .contenedor-ubicación img {
      width: 450px; }
    .contenedor-ubicación .iframe-ubi {
      width: 100%;
      height: 550px;
      margin-bottom: 20px; }
  .footer-location {
    margin-top: 20px; }
  .back-c {
    width: 700px;
    left: -5rem;
    top: 17rem; }
  .h2-contact {
    font-size: 20px;
    top: 8rem; }
  .contenedor-form {
    width: 400px;
    padding: 0px;
    top: 9rem;
    right: 2.4rem; }
    .contenedor-form p {
      font-size: 18px; }
    .contenedor-form input {
      width: 90%;
      padding: 0;
      background-color: transparent;
      color: white;
      border: none;
      border-bottom: 1px solid white;
      outline: none; }
    .contenedor-form textarea {
      width: 90%;
      padding: -5px; }
    .contenedor-form button {
      padding: 0px;
      top: 0rem; }
  .footer-contact {
    margin-top: 15rem !important;
    bottom: -1rem;
    left: -2.5rem; } }

@media only screen and (max-width: 992px) {
  body {
    max-width: 100% !important;
    overflow-x: hidden !important; }
  .nav-index {
    height: 438px; }
  .li-contact {
    left: 13rem; }
  .li-buy {
    left: 11.5rem; }
  .img-apple img {
    width: 218px;
    margin-top: -18px;
    margin-left: 3.5rem; }
  .font-app h1 {
    width: 99%;
    margin-top: 80px;
    font-size: 50px;
    margin-left: 0.5rem; }
  .font-app .span-cuotas {
    font-size: 25px; }
  .font-app .span-logo {
    font-size: 27px; }
  .font-app .btnimg {
    font-size: 13px;
    padding: 5px 30px; }
  .img-secundaria-apple {
    height: 400px; }
    .img-secundaria-apple img {
      width: 370px;
      margin-top: -34rem; }
  .textosec_apple h2 {
    font-size: 33px;
    margin-bottom: -2rem; }
  .textosec_apple span {
    font-size: 30px; }
  .textosec_apple button {
    margin-bottom: -7rem;
    font-size: 13px;
    padding: 5px 25px; }
  .theme-darkap {
    height: 650px; }
    .theme-darkap video {
      position: absolute;
      top: 49rem; }
    .theme-darkap .mac-h3 {
      font-size: 65px;
      bottom: -30rem;
      left: 21%; }
    .theme-darkap .mac-h4 {
      font-size: 45px;
      bottom: -34rem;
      left: 31.3%; }
      .theme-darkap .mac-h4 img {
        width: 65px; }
    .theme-darkap .mac-h5 {
      width: 90%;
      font-size: 20px;
      top: 81rem;
      left: 5%; }
  .footer-apple {
    flex-direction: column;
    padding-bottom: 0.5rem;
    margin-top: 0px; }
  .img-product {
    width: 100%;
    height: 380px;
    background: url("../Assets/background/page-product992.jpg");
    background-size: cover; }
  .container-product {
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 1rem;
    margin-left: 0;
    margin-right: 0;
    justify-items: center;
    align-items: center; }
    .container-product .card {
      width: 300px; }
  .footer-product {
    margin-top: 40px; }
  .nav-location {
    height: 270px; }
  .portada-location h4 {
    font-size: 38px; }
  .portada-location span {
    font-size: 35px; }
  .contenedor-ubicación {
    margin-left: -1rem; }
    .contenedor-ubicación .tamaño-ubi {
      width: 100%; }
    .contenedor-ubicación .border-ubi {
      margin: 18px 19px 24px 37px;
      padding: 5px; }
    .contenedor-ubicación img {
      width: 450px; }
    .contenedor-ubicación .iframe-ubi {
      width: 100%;
      height: 550px;
      margin-bottom: 20px; }
  .footer-location {
    margin-top: 20px; }
  .back-c {
    width: 700px;
    left: -5rem;
    top: 17rem; }
  .h2-contact {
    font-size: 20px;
    top: 8rem; }
  .contenedor-form {
    width: 400px;
    padding: 0px;
    top: 9rem;
    right: 2.4rem; }
    .contenedor-form p {
      font-size: 18px; }
    .contenedor-form input {
      width: 90%;
      padding: 0;
      background-color: transparent;
      color: white;
      border: none;
      border-bottom: 1px solid white;
      outline: none; }
    .contenedor-form textarea {
      width: 90%;
      padding: -5px; }
    .contenedor-form button {
      padding: 0px;
      top: 0rem; }
  .footer-contact {
    margin-top: 15rem !important;
    bottom: -1rem;
    left: -2.5rem; } }

@media only screen and (max-width: 768px) {
  body {
    max-width: 100% !important;
    overflow-x: hidden !important; }
  .nav-toggle {
    display: block;
    position: relative;
    left: 28rem; }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: white; }
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
    background-color: white; }
  .nav-index {
    height: 410px; }
  .ul-apple {
    margin-left: 0px !important;
    flex-direction: column;
    align-items: center;
    background-color: black;
    z-index: 9;
    position: fixed;
    top: 65px;
    right: 0;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .li-contact {
    display: none;
    position: fixed;
    top: 12.5rem;
    left: 20.6rem !important;
    z-index: 9;
    transition: left 0.3s; }
  .li-buy {
    display: none;
    position: fixed;
    top: 17rem;
    left: 23rem !important;
    z-index: 9;
    transition: left 0.3s; }
  .nav-menu_visible {
    display: block;
    left: 0; }
  .img-apple img {
    width: 208px;
    margin-top: -18px;
    margin-left: 3.5rem; }
  .font-app h1 {
    width: 95%;
    margin-top: 20px;
    font-size: 50px;
    margin-left: 0.5rem; }
  .font-app .span-cuotas {
    font-size: 25px; }
  .font-app .span-logo {
    font-size: 27px; }
  .font-app .btnimg {
    font-size: 13px;
    padding: 5px 25px;
    margin-left: -1rem; }
  .img-secundaria-apple {
    height: 300px; }
    .img-secundaria-apple img {
      width: 350px;
      margin-top: -26rem; }
  .textosec_apple h2 {
    font-size: 27px;
    margin-bottom: -6.5rem; }
  .textosec_apple span {
    font-size: 25px; }
  .textosec_apple button {
    margin-bottom: -14rem;
    font-size: 13px;
    padding: 5px 15px; }
  .theme-darkap {
    height: 620px; }
    .theme-darkap video {
      position: absolute;
      top: 49rem; }
    .theme-darkap .mac-h3 {
      font-size: 45px;
      bottom: -21rem;
      left: 24%; }
    .theme-darkap .mac-h4 {
      font-size: 30px;
      bottom: -26rem;
      left: 31.3%; }
      .theme-darkap .mac-h4 img {
        width: 60px; }
    .theme-darkap .mac-h5 {
      width: 90%;
      font-size: 20px;
      top: 81rem;
      left: 5%; }
  .footer-apple {
    flex-direction: column;
    padding-bottom: 0.5rem;
    margin-top: 0px; }
  .img-product {
    width: 100%;
    height: 310px;
    background: url("../Assets/background/page-product768.jpg");
    background-size: cover; }
  .container-product {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 1rem;
    margin-left: 0;
    margin-right: 0;
    justify-items: center;
    align-items: center; }
    .container-product .card {
      width: 300px; }
  .footer-product {
    margin-top: 40px; }
  .nav-location {
    height: 270px; }
  .portada-location h4 {
    font-size: 38px; }
  .portada-location span {
    font-size: 35px; }
  .contenedor-ubicación {
    flex-direction: column; }
    .contenedor-ubicación .tamaño-ubi {
      width: 100%; }
    .contenedor-ubicación .border-ubi {
      margin: 18px 21px 24px 37px;
      padding: 5px; }
    .contenedor-ubicación img {
      width: 450px; }
    .contenedor-ubicación .iframe-ubi {
      width: 90%;
      margin: 20px 0px 20px 17px; }
  .footer-location {
    margin-top: 15px; }
  .back-c {
    width: 700px;
    left: -3rem;
    top: 6rem; }
  .h2-contact {
    font-size: 20px;
    top: 3rem; }
  .contenedor-form {
    width: 400px;
    padding: 0px;
    top: 30rem; }
    .contenedor-form p {
      font-size: 18px; }
    .contenedor-form input {
      width: 90%;
      padding: 0;
      background-color: transparent;
      color: white;
      border: none;
      border-bottom: 1px solid white;
      outline: none; }
    .contenedor-form textarea {
      width: 90%;
      padding: -5px; }
    .contenedor-form button {
      padding: 0px;
      top: 0rem; }
  .footer-contact {
    margin-top: 15rem !important;
    bottom: -10rem;
    left: -2.5rem; } }

@media only screen and (max-width: 576px) {
  body {
    max-width: 100% !important;
    overflow-x: hidden !important; }
  .nav-toggle {
    display: block;
    position: relative;
    left: 18rem; }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: white; }
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
    background-color: white; }
  .nav-index {
    height: 380px; }
  .ul-apple {
    margin-left: 0px !important;
    flex-direction: column;
    align-items: center;
    background-color: black;
    z-index: 9;
    position: fixed;
    top: 65px;
    right: 0;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .li-contact {
    display: none;
    position: fixed;
    top: 12.5rem;
    left: 14.7rem !important;
    z-index: 9;
    transition: left 0.3s; }
  .li-buy {
    display: none;
    position: fixed;
    top: 17rem;
    left: 17.2rem !important;
    z-index: 9;
    transition: left 0.3s; }
  .nav-menu_visible {
    display: block;
    left: 0; }
  .img-apple img {
    width: 189px;
    margin-top: -18px;
    margin-left: 2.5rem; }
  .font-app h1 {
    width: 80%;
    margin-top: 20px;
    font-size: 35px;
    margin-left: 2rem; }
  .font-app .span-cuotas {
    font-size: 20px; }
  .font-app .span-logo {
    font-size: 23px; }
  .font-app .btnimg {
    font-size: 13px;
    padding: 5px 15px;
    margin-left: -1rem; }
  .img-secundaria-apple {
    height: 300px; }
    .img-secundaria-apple img {
      width: 300px;
      margin-top: -24rem; }
  .textosec_apple h2 {
    font-size: 24px;
    margin-bottom: -6.5rem; }
  .textosec_apple span {
    font-size: 25px; }
  .textosec_apple button {
    margin-bottom: -14rem;
    font-size: 13px;
    padding: 5px 15px; }
  .theme-darkap {
    height: 390px; }
    .theme-darkap video {
      position: absolute;
      top: 48rem; }
    .theme-darkap .mac-h3 {
      font-size: 35px;
      bottom: -15rem;
      left: 23%; }
    .theme-darkap .mac-h4 {
      font-size: 25px;
      bottom: -17.7rem;
      left: 31.3%; }
      .theme-darkap .mac-h4 img {
        width: 40px; }
    .theme-darkap .mac-h5 {
      width: 90%;
      font-size: 20px;
      top: 70rem;
      left: 5%; }
  .footer-apple {
    flex-direction: column;
    padding-bottom: 0.5rem;
    margin-top: 107px; }
  .img-product {
    width: 100%;
    height: 270px;
    background: url("../Assets/background/page-product576.jpg");
    background-size: cover; }
  .container-product {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 1rem;
    margin-left: 0;
    margin-right: 0;
    justify-items: center;
    align-items: center; }
    .container-product .card {
      width: 250px; }
  .footer-product {
    margin-top: 40px; }
  .nav-location {
    height: 270px; }
  .portada-location h4 {
    font-size: 38px; }
  .portada-location span {
    font-size: 35px; }
  .contenedor-ubicación {
    flex-direction: column; }
    .contenedor-ubicación .tamaño-ubi {
      width: 100%; }
    .contenedor-ubicación .border-ubi {
      margin: 18px 21px 24px 37px;
      padding: 5px; }
    .contenedor-ubicación img {
      width: 400px; }
    .contenedor-ubicación .iframe-ubi {
      width: 90%;
      height: 300px;
      margin: 20px 0px -10px 17px; }
  .footer-location {
    margin-top: 40px; }
  .back-c {
    width: 700px;
    left: -3rem;
    top: 6rem; }
  .h2-contact {
    font-size: 20px;
    top: 3rem; }
  .contenedor-form {
    width: 400px;
    padding: 0px;
    top: 30rem; }
    .contenedor-form p {
      font-size: 18px; }
    .contenedor-form input {
      width: 90%;
      padding: 0;
      background-color: transparent;
      color: white;
      border: none;
      border-bottom: 1px solid white;
      outline: none; }
    .contenedor-form textarea {
      width: 90%;
      padding: -5px; }
    .contenedor-form button {
      padding: 0px;
      top: 0rem; }
  .footer-contact {
    margin-top: 15rem !important;
    bottom: -10rem;
    left: -2.5rem; } }
